antlr4-python3-runtime>=4.7.1
decorator>=4.1.2
future>=0.16.0
matplotlib>=2.1.0
networkx>=2.1
numpy>=1.14.2
nxpd>=0.2.0
pandas>=0.20.3
pyparsing>=2.2.0
scikit-learn>=0.19.0
scipy>=1.1.0
sklearn>=0.0
subprocess32>=3.2.7